<div class="grid">
  <div *ngFor="let image of images; trackBy: trackByImageItem" class="cell">
    <div (click)="onImageClick(image)" class="image-item">
      <img src="{{image.croppedPicture}}" alt="">
    </div>
  </div>
</div>
