@import "../../mixins";

.grid {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: row wrap;
}

.cell {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
  flex-shrink: 0;
}

.image-item {
  align-items: flex-start;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding-top: 100%;
  transition: opacity .2s;
  position: relative;
  background: #eee;

  img {
    border-radius: inherit;
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:hover {
    opacity: .9;
  }
}

@mixin columnsLayout($columnsCount, $padding) {
  .grid {
    padding: #{$padding / 2} 0;
    margin-left: #{-$padding / 2};
    margin-right: #{-$padding / 2};
  }

  .cell {
    width: calc(#{100% / $columnsCount});
    padding: #{$padding / 2};
  }
}

@include columnsLayout(4, $container-padding);

@media screen and (max-width: $screen-laptop) {
  @include columnsLayout(4, $container-padding-laptop);
}

@media screen and (max-width: $screen-tablet) {
  @include columnsLayout(3, $container-padding-tablet);
}

@media screen and (max-width: $screen-mobile) {
  @include columnsLayout(1, $container-padding-mobile);
}
