@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?hupkc0');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?hupkc0#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?hupkc0') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?hupkc0') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?hupkc0##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close {
  &:before {
    content: $icon-close; 
  }
}
.icon-right {
  &:before {
    content: $icon-right; 
  }
}

