<div class="popup-image-area">
  <div *ngIf="image" class="popup-image">
    <img src="{{image.fullPicture}}" alt="">
  </div>
</div>
<div class="popup-background" (click)="onBackgroundClick()"></div>

<div class="popup-top-container">
  <div class="popup-tooltip" *ngIf="image">
    <span class="popup-tooltip-author" *ngIf="image.author" [innerHTML]="image.author"></span>
    {{image.author && image.camera ? ' — ' : ''}}
    <span class="popup-tooltip-camera" *ngIf="image.author" [innerHTML]="image.camera"></span>
  </div>

  <div class="popup-close" *ngIf="image" (click)="onCloseClick()">
    <i class="icon-close"></i>
  </div>
</div>

<div class="popup-bottom-container">
  <div class="popup-tags" *ngIf="image && image.tags">
    <div class="popup-tag" *ngFor="let tag of image.tags" [innerHTML]="tag"></div>
  </div>
</div>
