@import "../../mixins";

:host {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: hidden;
  transition: opacity .2s;

  --image-max-width: calc(var(--max-width) * 1px - #{$container-padding});

  @media screen and (max-width: $screen-laptop) {
    --image-max-width: calc(var(--max-width) * 1px - #{$container-padding-laptop});
  }

  @media screen and (max-width: $screen-tablet) {
    --image-max-width: calc(var(--max-width) * 1px - #{$container-padding-tablet});
  }

  @media screen and (max-width: $screen-mobile) {
    --image-max-width: calc(var(--max-width) * 1px - #{$container-padding-mobile});
  }
}

:host(:not(.is-popup-opened)) {
  opacity: 0;
  pointer-events: none;

  .popup-image {
    pointer-events: none;
  }
}

.popup-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .8);
}

.popup-image-area {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  pointer-events: none;
}

@keyframes imageAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.popup-image {
  background: #000;
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
  border-radius: 12px;
  pointer-events: auto;
  user-select: none;
  user-focus: none;
  user-input: none;
  user-modify: none;

  :host(.is-image-loaded) & {
    animation: imageAppear .25s;
  }

  img {
    border-radius: inherit;
    max-width: var(--image-max-width);
  }
}

.popup-top-container,
.popup-bottom-container {
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: var(--image-max-width);
  left: 50%;
  transform: translateX(-50%);

  :host(.is-image-loaded) & {
    transition: transform .25s;
  }
}

.popup-top-container {
  top: $container-padding / 2;

  :host(:not(.is-image-loaded)) & {
    transform: translate(-50%, -100%);
  }

  @media screen and (max-width: $screen-laptop) {
    top: $container-padding-laptop / 2;
  }

  @media screen and (max-width: $screen-tablet) {
    top: $container-padding-tablet / 2;
  }

  @media screen and (max-width: $screen-mobile) {
    top: $container-padding-mobile / 2;
  }
}

.popup-bottom-container {
  bottom: $container-padding / 2;

  :host(:not(.is-image-loaded)) & {
    transform: translate(-50%, 100%);
  }

  @media screen and (max-width: $screen-laptop) {
    bottom: $container-padding-laptop / 2;
  }

  @media screen and (max-width: $screen-tablet) {
    bottom: $container-padding-tablet / 2;
  }

  @media screen and (max-width: $screen-mobile) {
    bottom: $container-padding-mobile / 2;
  }
}

.popup-close {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  color: #fff;
  flex-shrink: 0;
  border-radius: 8px;
  height: 45px;
  width: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  cursor: pointer;
  transition: color .1s;

  &:hover {
    color: rgba(255, 255, 255, .5);
  }

  @media screen and (max-width: $screen-mobile) {
    height: 43px;
    width: 43px;
  }
}

.popup-tooltip {
  background: #000;
  color: #fff;
  border-radius: 8px;
  padding: 12px 16px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  max-width: 100%;
  margin-right: 16px;

  @media screen and (max-width: $screen-mobile) {
    margin-right: 12px;
    font-size: 16px;
  }
}

.popup-tags {
  bottom: $container-padding / 2;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: row wrap;
  max-width: 100%;
}

.popup-tag {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  border-radius: 8px;
  background: #000;
  color: #fff;
  padding: 6px 8px;
  margin: 4px 8px;

  @media screen and (max-width: $screen-mobile) {
    font-size: 14px;
    margin: 3px;
  }
}
