$screen-mobile: 760px;
$screen-tablet: 1260px;
$screen-laptop: 1450px;

$container-padding: 64px;
$container-padding-laptop: 48px;
$container-padding-tablet: 36px;
$container-padding-mobile: 24px;

$container-min-width: $screen-tablet;
$container-max-width: 1920px;
$container-min-width-tablet: $screen-mobile;
$container-max-width-tablet: 1024px;
$container-min-width-mobile: 320px;
$container-max-width-mobile: 560px;
