@import "assets/icomoon/variables";
@import "mixins/variables";


@mixin slideAfterLoad() {
  :host-context(.page:not(.is-loaded)) .page-inner {
    pointer-events: none;
    opacity: 0;
    transform: translateY(-60px);
  }

  :host-context(.page.is-loaded) .page-inner {
    transition: transform .5s, opacity .2s;
  }
}
