@import "assets/icomoon/style";
@import "styles/container";


*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;

  &.scrollbar-is-locked {
    will-change: scroll-position;
    overflow: hidden;
  }
}
