<div *ngIf="images" class="page-inner" appInitDetect (initDetected)="pageLoader.markAsLoaded()">
  <div class="container">
    <app-images-grid
      [images]="images"
      (clickImage)="onImageExpand($event)"
    ></app-images-grid>
  </div>
</div>
